* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-primary: crimson;
  --color-black: #111;
  --border: 1px solid red;
}

html {
  font-size: 62.5%;
}

html,
body {
  overflow: hidden;
  height: 100vh;
}

body {
  background-color: #ddd;
  font-family: "Roboto Slab";
}

#root {
  overflow: scroll;
  overflow-x: hidden;
  height: 100vh;
  scroll-snap-type: mandatory;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}

section {
  scroll-snap-align: start;
}

.section {
  padding: 8rem 0;
  height: 100vh;
  @include flexbox();
  width: 100%;

  &__wrapper {
    max-width: 1300px;
    min-width: 1200px;
  }
}

a {
  text-decoration: none;
  color: var(--color-black);
  transition: background-color 0.25s;

  &:hover {
    background-color: #aaa;
  }
}
