.contact {
  background-color: rgba(5, 90, 90, 0.1);

  &__form {
    text-align: right;

    & > div:not(:last-child) {
      margin-bottom: 3rem;
      display: flex;
      justify-content: center;
    }

    label {
      width: 10%;
      background-color: #ddd;
      padding: 1rem 2rem;
      font-size: 1.5rem;
    }
    input,
    textarea {
      width: 90%;
      padding: 1rem 2rem;
      font-family: inherit;
    }
    input {
      padding: 1rem 2rem;
      border: none;
      font-size: 1.5rem;
      outline: none;

      &::placeholder {
        opacity: 0.6;
      }
    }
  }
}
