.contact {
  background-color: rgba(5, 90, 90, 0.1);
  position: relative;
  padding-bottom: 0;

  &__form {
    text-align: left;

    & > div:not(:last-child) {
      margin-bottom: 3rem;
      display: flex;
      justify-content: center;
    }

    label {
      white-space: nowrap;
      width: 10%;
      background-color: #ddd;
      padding: 1rem 2rem;
      font-size: 1.5rem;
      border-top-left-radius: 3px;
      border-bottom-left-radius: 3px;
      border: 1px solid rgba(255, 255, 255, 0.37);
      box-shadow: 5px 5px 0px rgba(0, 0, 0, 0.212);
    }
    input,
    textarea {
      width: 90%;
      padding: 1.5rem 2.5rem;
      font-family: inherit;
      border: 1px solid rgba(255, 255, 255, 0.37);
      box-shadow: 5px 5px 0px rgba(0, 0, 0, 0.212);
      background-color: #ddd;
    }

    input {
      padding: 1rem 2rem;
      border: none;
      font-size: 1.5rem;
      outline: none;
      border-top-right-radius: 3px;
      border-bottom-right-radius: 3px;

      &::placeholder {
        opacity: 0.6;
      }
    }

    textarea {
      width: 100%;
      border: none;
      outline: none;
      border-radius: 3px;
      height: 20rem;
      font-size: 1.5rem;

      &::placeholder {
        opacity: 0.6;
      }
    }

    .btn {
      text-align: left;
      button {
        border: none;
        outline: none;
        font-size: 1.5rem;
        background-color: #ddd;
        padding: 1rem 2rem;
        border: 1px solid rgba(255, 255, 255, 0.37);
        box-shadow: 5px 5px 0px rgba(0, 0, 0, 0.212);
        font-weight: 300;
        border-radius: 3px;
        cursor: pointer;
      }
    }
  }
}

.footer {
  width: 100%;
  background-color: #ddd;
  margin-top: 4rem;
  @include flexbox;
  padding: 1rem;

  &__social-icons {
    @include flexbox;

    .icon-box {
      margin: 1rem;
      a {
        &:hover {
          background-color: transparent;
        }
        img {
          height: 35px;
        }
      }
    }
  }

  &__message {
    text-align: center;
    font-size: 1.5rem;

    a {
      text-decoration: underline;
      color: crimson;
    }
  }
}

.icon-box {
  position: relative;

  &::before {
    content: "";
    font-size: 1.2rem;
    text-align: center;
    position: absolute;
    top: -45px;
    left: 50%;
    padding: 0.5rem 1rem;
    height: 2rem;
    white-space: nowrap;
    border-radius: 3px;
    border-bottom-left-radius: 0px;
    background-color: #eee;
    transform: scale(0);
    transition: 0.25s;
    transform-origin: bottom;
  }

  &::after {
    content: "";
    position: absolute;
    height: 20px;
    width: 20px;
    background-color: #eee;
    top: -23px;
    left: 46%;
    clip-path: polygon(100% 0, 12% 0, 0 98%);
    transform: scale(0);
    transition: 0.25s;
    transform-origin: bottom;
  }

  &:first-child:before {
    content: "Visit My facebook Profile";
  }

  &:nth-child(2):before {
    content: "Visit My Instagram Profile";
  }

  &:nth-child(3):before {
    content: "Visit My Linkedin Profile";
  }
  &:nth-child(4):before {
    content: "Send an Email";
  }

  &:hover::before {
    transform: scale(1);
  }
  &:hover::after {
    transform: scale(1);
  }
}
